.dialog-button {
  color: $white-color !important;
  background-color: $main-color !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  padding: 40px 30px 15px;
  max-width: 300px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.dialog-button {
  width: 100%;
  margin-top: 30px;
}