@import '_variables.scss',
        'components/app-bar/index.scss',
        'components/loading/index.scss',
        'pages/home/highlight/index.scss',
        'pages/home/calendar/index.scss';

body {
  margin: 0 auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault {
  background-color: $secun-color!important;
}