.parent_div_highlight {
  border-radius: 5px;
  padding: 5px;
  background-image: linear-gradient(90deg, rgb(238, 120, 229) 0%, rgb(153, 50, 148) 100%);
  color: $white-color;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.parent_h_highlight {
  padding: 5px;
}

.button_highlight {
  color: $white-color !important;
  border-radius: 100px !important;
  text-transform: uppercase;
  background-color: $main-color !important;
  margin: 10px !important;
}
